@use 'color-scheme' as colors;
@use 'states';
@import '~normalize.css';

body {
	background: colors.$color-background-1;
	color: colors.$color-typography;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	::selection {
		background-color: colors.$color-accent;
		color: colors.$color-background-1;
	}
}

a {
	@include states.fade-on-hover;

	color: colors.$color-accent;
	text-decoration: none;
}
