@import 'media-queries';

/**
 * Quartz Font Mixins
 *
 * These mixins allow us to maintain a consistent typographic style
 * throughout qz.com and our wider family of products.
 *
 * To identify the font mixin used in a design, inspect the text box in
 * Abstract and look for 'Text Style' under the Properties panel in the
 * bar on the right.
 *
 * IMPORTANT:
 *
 * If you can't find a mixin that matches your designs, talk to your
 * friendly neighborhood designer. Avoid writing one-offs and do not
 * create new mixins here without the knowledge and approval of the
 * design team.
 *
 * Our mixins should match this document:
 * https://docs.google.com/spreadsheets/d/1jk-QoK22_lAoJbbyZyxVM1Ym7sakCNZGHVBtMOY6hxE/edit#gid=0
 */

@mixin font-maison-500-1 {
	@include font-maison;
	@include font-size-helper(11px, 13px, null);

	font-weight: 500;
	line-height: $font-line-height-maison-medium;
}

@mixin font-maison-500-2 {
	@include font-maison;
	@include font-size-helper(14px, 16px, null);

	font-weight: 500;
	line-height: $font-line-height-maison-medium;
}

@mixin font-maison-500-3 {
	@include font-maison;
	@include font-size-helper(14px, 20px, null);

	font-weight: 500;
	line-height: $font-line-height-maison-medium;
}

@mixin font-maison-500-4 {
	@include font-maison;
	@include font-size-helper(16px, 20px, null);

	font-weight: 500;
	line-height: $font-line-height-maison-medium;
}

@mixin font-maison-500-5 {
	@include font-maison;
	@include font-size-helper(14px, 20px, 30px);

	font-weight: 500;
	line-height: $font-line-height-maison-medium;
}

@mixin font-pt-serif-400-1 {
	@include font-pt-serif;
	@include font-size-helper(16px, 20px, null);

	font-weight: 400;
	line-height: $font-line-height-pt-serif;
}

@mixin font-maison-extended-700-1 {
	@include font-maison-extended;
	@include font-size-helper(11px, 13px, null);

	font-weight: 700;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-extended-700-2 {
	@include font-maison-extended;
	@include font-size-helper(14px, 16px, null);

	font-weight: 700;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-1 {
	@include font-maison;
	@include font-size-helper(11px, 13px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-2 {
	@include font-maison;
	@include font-size-helper(14px, 16px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-3 {
	@include font-maison;
	@include font-size-helper(14px, 20px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-4 {
	@include font-maison;
	@include font-size-helper(16px, 20px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-5 {
	@include font-maison;
	@include font-size-helper(20px, 32px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-6 {
	@include font-maison;
	@include font-size-helper(24px, 40px, null);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-7 {
	@include font-maison;
	@include font-size-helper(16px, 30px, 45px);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-9 {
	@include font-maison;
	@include font-size-helper(26px, 50px, 70px);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-maison-800-10 {
	@include font-maison;
	@include font-size-helper(32px, 70px, 84px);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

@mixin font-publico-800-1 {
	@include font-publico-headline;
	@include font-size-helper(26px, 50px, 70px);

	font-weight: 800;
	line-height: $font-line-height-maison-extra-bold;
}

/**
 * Helper mixins
 *
 * Avoid using the following mixins outside this file whenever
 * possible.
 */

@mixin font-graphik {
	font-family: $font-graphik-fallback;

	:global(.fonts-loaded) & {
		font-family: $font-graphik;
	}
}

@mixin font-maison {
	font-family: $font-maison-fallback;

	:global(.fonts-loaded) & {
		font-family: $font-maison;
	}
}

@mixin font-maison-extended {
	font-family: $font-maison-fallback;

	:global(.fonts-loaded) & {
		font-family: $font-maison-extended;
	}
}

@mixin font-pt-serif {
	font-family: $font-pt-serif-fallback;

	:global(.fonts-loaded) & {
		font-family: $font-pt-serif;
	}
}

@mixin font-publico-headline {
	font-family: $font-publico-headline-fallback;

	:global(.fonts-loaded) & {
		font-family: $font-publico-headline;
	}
}

/*
	STOP HERE!

 	Do not reference the following variables or mixins outside this file!
*/

/**
 * Do not use these variables directly! Use a mixin to ensure
 * non-system fonts are only applied once loaded in order to
 * prevent FOIT.
 */
$font-default-sans-fallback: 'Helvetica Neue', Helvetica, sans-serif;
$font-default-serif-fallback: Georgia, serif;

$font-maison-fallback: $font-default-sans-fallback;
$font-graphik-fallback: $font-default-sans-fallback;
$font-publico-headline-fallback: $font-default-serif-fallback;
$font-pt-serif-fallback: $font-default-serif-fallback;

$font-maison: 'MaisonNeue', $font-maison-fallback;
$font-maison-extended: 'MaisonNeueExtended', $font-maison-fallback;
$font-publico-headline: 'Publico Headline', $font-publico-headline-fallback;
$font-pt-serif: 'PTSerif', $font-pt-serif-fallback;
$font-graphik: 'Graphik', $font-graphik-fallback;

/**
 * Do not use this mixin directly! This mixin is only to be used the
 * predefined font mixins above; ensure you shouldn't be using one of
 * them first. If you absolutely must create a one-off, e.g. for a
 * special editorial project, you should use the break points directly
 * in your component's CSS file.
 * */
@mixin font-size-helper($mobile, $tablet-portrait: null, $tablet-landscape: null) {
	font-size: $mobile;

	@if $tablet-portrait != null {
		@include for-tablet-portrait-up {
			font-size: $tablet-portrait;
		}
	}

	@if $tablet-landscape != null {
		@include for-tablet-landscape-up {
			font-size: $tablet-landscape;
		}
	}
}
