@import 'tokens';

@mixin has-hover {
	@media (hover: hover) {
		@content;
	}
}

@mixin fade-on-hover {
	@include has-hover {
		transition: opacity $time-slowly;
	}

	&:hover {
		@include has-hover {
			opacity: 0.7;
		}
	}
}

@mixin reset-fade-on-hover {
	&:hover:not(:disabled) {
		@include has-hover {
			opacity: 1;
		}
	}
}
